.PlayerInfo {
  margin: 25px auto 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 9px;
}
.player-info__user-name {
  font-size: 16px;
  font-weight: 400;
}
.player-info__user-avatar {
  background: url(/public/avatar.png) no-repeat center;
}
.player-info__user-balance {
  display: flex;
  align-items: center;
  border-radius: 24px;
  background: #373352;
  gap: 5px;
}
.player-info__user-balance--hide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  background: #00BB40;
  padding: 0 4px;
}
.player-info__user-balance-value {
  font-size: 12px;
  font-weight: 400;
  padding: 0 8px;
}
.rating:not(:checked) > input {
  position: absolute;
  appearance: none;
}

.rating:not(:checked) > label {
  float: right;
  cursor: pointer;
  font-size: 8px;
  color: #666;
}

.rating:not(:checked) > label:before {
  content: '★';
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #e58e09;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #FAFF1A;
}

.rating > input:checked ~ label {
  color: #FAFF1A;
}



