/* reset styles */

html{
  box-sizing: border-box;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a{
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  background: none;
}

/* fonts style */

@font-face {
  font-family: 'Pragmatica';
  src: url("./../fonts/Pragmatica-Book.ttf") format("opentype");
}

@font-face {
  font-family: 'TT Commons';
  src: url("./../fonts/TTCommons-Regular.ttf") format("opentype");
}


/* global styles */

html,
body {
	height: 100%;
}

body {	
  font-family: 'TT Commons', Helvetica, sans-serif;
  font-weight: 500;
	font-style: normal;
  font-size: 16px;
	line-height: 20px;
  color: black;
	overflow-x: hidden;
	min-width: 320px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.container{
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 40px 0;
  z-index: 3;
}
.header__box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  display: block;
  object-fit: contain;
  width: 139px;
  height: 28px;
}
.header__logo-svg {
  fill: white;  
  transition: all 0.3s ease 0s;
}
.header__logo-link:hover .header__logo-svg {
  fill: #7E779A;
}
.header__list {
  display: flex;
  width: 100vmax;
  max-width: 294px;
  align-items: center;
  justify-content: space-between;
}
.header__item {
  font-size: 17px;
  line-height: 16px;
  color: #FFFFFF;
  transition: all 0.3s ease 0s;
}
.header__item:hover {
  color: #7E779A;
}
.header__contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vmax;
  max-width: 420px;
}
.header__contact-link {
  display: flex;
  align-items: center;
}
.header__icon {
  display: block;
  object-fit: contain;
  width: 18px;
  margin-right: 12px;
}
.header__icon-svg {
  fill: white;
  transition: all 0.3s ease 0s;
}
.header__contact-link:hover .header__icon-svg {
  fill: #7E779A;
}
.header__text {
  font-weight: 400;
  font-size: 17px;
  line-height: 14px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  transition: all 0.3s ease 0s;
}
.header__contact-link:hover .header__text {
  color: #7E779A;
}

.home {  
  background: url("./../img/home--bg.png") no-repeat center,
  #040B2A;
  background-size: cover;
}
.home__box {  
  padding: 200px 0 160px;
  position: relative;
}
.home__text {
  font-family: 'Pragmatica';
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #7E779A;
  margin-bottom: 16px;
}
.home__title {
  max-width: 790px;
  font-family: 'TT Commons';
  font-weight: 700;
  font-size: 64px;
  line-height: 70px;
  color: #FFFFFF;
  margin-bottom: 25px;
}
.home__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 333px;
  height: 56px; 
  background: linear-gradient(105.96deg, #3F0F72 13.07%, #791281 85.2%);
  border-radius: 90px;
  
}
.home__link span {
  font-family: 'TT Commons';
  font-weight: 600;
  font-size: 16px;
  line-height: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF
}
.home__link:hover span {
  transition: all 0.3s ease 0s;
  color: #7E779A;
}
.home__partners {
  position: absolute;
  bottom: 45px;
  right: 0;
  width: 100vmax;
  max-width: 330px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home__partners-text {
  font-family: 'TT Commons';
  font-weight: 400;
  font-size: 17px;
  line-height: 140%;
  color: #FFFFFF;
}
.home__partners-icon {
  display: block;
  object-fit: contain;
  height: 25px;
}

.about {
  padding: 114px 0;
}
.about__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about__box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
  flex-basis: 50%;
  height: 100vmax;
  max-height: 530px;
}
.about__box:first-child {
  margin-right: 30px;
}
.about__title {
  font-family: 'TT Commons';
  font-weight: 700;
  font-size: 48px;
  line-height: 40px;
  color: #333333;
}
.about__subtitle {
  font-family: 'Pragmatica';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 44px;
  color: #333333;
  margin-bottom: 10px;
}
.about__text {
  font-family: 'Pragmatica';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #333333;
  margin-bottom: 10px;
}
.about__img-box {
  display: flex;
  align-items: center;
}
.about__img {
  display: block;
  object-fit: contain;  
  width: 100%;
  max-width: 270px;
  border-radius: 9px;
}
.about__img:first-child {
  margin-right: 30px;
}
.about__img--big {
  display: block;
  object-fit: contain;  
  width: 100%;
  max-width: 570px;
  border-radius: 9px;
}

.services {
  background: #F6F4F9;
  padding: 115px 0;
}
.services__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.services__title {
  
}
.services__subtitle {
}
.services__list {
}
.services__item {
}
.services__icon {
}
.services__text {
}
.services__icon-box {
}