/* reset styles */

html{
  box-sizing: border-box;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a{
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  background: none;
}

/* fonts style */

@font-face {
  font-family: 'Pragmatica';
  src: url("./../fonts/Pragmatica-Book.ttf") format("opentype");
}

@font-face {
  font-family: 'TT Commons';
  src: url("./../fonts/TTCommons-Regular.ttf") format("opentype");
}


/* global styles */

html,
body {
	height: 100%;
}
body {	
  font-family: 'TT Commons', Helvetica, sans-serif;
  font-weight: 500;
	font-style: normal;
  font-size: 16px;
	line-height: 20px;
  color: black;
	overflow-x: hidden;
	min-width: 320px;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}
.container{
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 20px;
}
.title {
  font-weight: 700;
  font-size: 48px;
  line-height: 40px;
  text-align: center;
  color: #333333;
}

.subtitle {
  font-family: 'Pragmatica';
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #777777;
}




.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 40px 0;
  z-index: 3;
}
.header__box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  display: block;
  object-fit: contain;
  width: 139px;
  height: 28px;
}
.header__logo-svg {
  fill: white;  
  transition: all 0.3s ease 0s;
}
.header__logo-link:hover .header__logo-svg {
  fill: #7E779A;
}
.header__list {
  display: flex;
  width: 100vmax;
  max-width: 294px;
  align-items: center;
  justify-content: space-between;
}
.header__item {
  font-size: 17px;
  line-height: 16px;
  color: #FFFFFF;
  transition: all 0.3s ease 0s;
}
.header__item:hover {
  color: #7E779A;
}
.header__contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vmax;
  max-width: 420px;
}
.header__contact-link {
  display: flex;
  align-items: center;
}
.header__icon {
  display: block;
  object-fit: contain;
  width: 18px;
  margin-right: 12px;
}
.header__icon-svg {
  fill: white;
  transition: all 0.3s ease 0s;
}
.header__contact-link:hover .header__icon-svg {
  fill: #7E779A;
}
.header__text {
  font-weight: 400;
  font-size: 17px;
  line-height: 14px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  transition: all 0.3s ease 0s;
}
.header__contact-link:hover .header__text {
  color: #7E779A;
}

.home {  
  background: url("./../img/home--bg.png") no-repeat center,
  #040B2A;
  background-size: cover;
}
.home__box {  
  padding: 200px 0 160px;
  position: relative;
}
.home__text {
  font-family: 'Pragmatica';
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #7E779A;
  margin-bottom: 16px;
}
.home__title {
  max-width: 790px;
  font-weight: 700;
  font-size: 64px;
  line-height: 70px;
  color: #FFFFFF;
  margin-bottom: 25px;
}

.home__link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 333px;
  height: 56px; 
  background: linear-gradient(105.96deg, #3F0F72 13.07%, #791281 85.2%);
  border-radius: 90px;  
  border: 0; 
  transition: all 0.3s ease 0s;
}
.home__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 90px;
  border: 3px solid transparent;
  background: linear-gradient(45deg, #3F0F72, #791281) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, 
  linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) padding-box, 
  linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}
.home__link:hover {
  background: transparent;
}
.home__link span {
  font-family: 'TT Commons';
  font-weight: 600;
  font-size: 16px;
  line-height: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF
}
.home__partners {
  position: absolute;
  bottom: 45px;
  right: 0;
  width: 100vmax;
  max-width: 330px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home__partners-text {
  font-family: 'TT Commons';
  font-weight: 400;
  font-size: 17px;
  line-height: 140%;
  color: #FFFFFF;
}
.home__partners-icon {
  display: block;
  object-fit: contain;
  height: 25px;
}

.about {
  padding: 114px 0;
}
.about__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about__box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
  width: 100vmax;
  width: 50%;
  max-width: 570px;
  height: 100vmax;
  max-height: 530px;
}
.about__box:first-child {
  margin-right: 30px;
}
.about__title {
  text-align: left;
}
.about__subtitle {
  font-family: 'Pragmatica';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 44px;
  color: #333333;
  margin-bottom: 10px;
}
.about__text {
  font-family: 'Pragmatica';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #333333;
  margin-bottom: 10px;
}
.about__img-box {
  display: flex;
  align-items: center;
}
.about__img {
  display: block;
  object-fit: contain;  
  width: 100%;
  max-width: 270px;
  border-radius: 9px;
}
.about__img:first-child {
  margin-right: 30px;
}
.about__img--big {
  display: block;
  object-fit: contain;  
  width: 100%;
  max-width: 570px;
  border-radius: 9px;
}

.services {
  background: #F6F4F9;
  padding: 115px 0;
}
.services__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.services__title {
  margin-bottom: 14px;
}
.services__subtitle {
  font-weight: 400;
  margin-bottom: 44px;
}
.services__list {
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  row-gap: 32px;
}
.services__item {
  max-width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: #FFFFFF;
  border-radius: 9px;
}
.services__icon-box {
  width: 66px;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(105.96deg, #3F0F72 13.07%, #791281 85.2%);
  border-radius: 50%;
}
.services__icon {
  display: block;
  object-fit: contain;
}
.services__text {
  max-width: 130px;
  font-family: 'Pragmatica';
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #333333;
  margin-left: 17px;
}

.publications {
  padding: 115px 0;
}
.publications__title {
  margin-bottom: 13px;
}

.publications__subtitle {
  margin-bottom: 40px;
}

.publications__box {  
  position: relative;
  max-height: 504px;
}
.publications__box .slick-next,
.publications__box .slick-prev {
  position: absolute;
  top: 230px;
  z-index: 5;
  font-size: 0px;
  border: none;
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.1));
  width: 49px;
  height: 49px;
  border-radius: 50%;
  transition: background 0.3s ease 0s;
}
.publications__box .slick-next {
  right: -15px;
  background: url("./../img/arrow-grey.svg") no-repeat center,
  #FFFFFF;
  transform: rotate(180deg);
}
.publications__box .slick-prev {
  background: url("./../img/arrow-grey.svg") no-repeat center,
  #FFFFFF;
  left: -15px;
}

.publications__box .slick-next:hover {
  background: url("./../img/arrow-violet.svg") no-repeat center,
  #FFFFFF;
  transform: rotate(0deg);
}

.publications__box .slick-prev:hover {
  background: url("./../img/arrow-violet.svg") no-repeat center,
  #FFFFFF;
  transform: rotate(180deg);
}


.publications__list {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.publications__box .publications__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 370px;
  height: 100vmax;
  max-height: 504px;
  background: #F6F4F9;
  border-radius: 9px;
  margin: 0 15px;
}
.publications__link {
  cursor: pointer;
}
.publications__img {
  display: block;
  object-fit: contain;
  width: 100%;
  max-width: 370px;
}
.publications__content{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 242px;
  justify-content: space-between;
  padding: 27px 20px 20px 30px;
}
.publications__item-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
  color: #333333;
  margin-bottom: 11px;
  max-height: 47px;
  overflow: hidden;
}
.publications__item-text {
  font-family: 'Pragmatica';
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #777777;
  max-width: 326px;
  height: 72px;
  overflow: hidden;  
}
.publications__item-bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;  
  border-top: 2px solid #EAE8EC;
  padding-top: 18px;
}
.publications__item-logo {
  display: block;
  object-fit: contain;
  max-width: 100px;
}
.publications__date {
  position: relative;
  font-weight: 500;
  font-size: 15px;
  line-height: 176%;
  color: #C4C4C4;
  padding-left: 7px;
}
.publications__date::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  top: 45%;
  transform: translateY(-50%);
  left: -16px;
  background: url("./../img/icon-calendar.svg") no-repeat center;
}

.grade {
  background: url("./../img/grade--bg.png") no-repeat center,
  #0B0B35;
  background-size: cover;
  padding: 113px 0 192px;
}
.grade__container {
  display: flex;
  justify-content: space-between;
}
.grade__content {
  display: flex;
  flex-direction: column;
  flex-grow: 40%;
  max-width: 410px;
}
.grade__content-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 45px;
  color: #FFFFFF;
  margin-bottom: 18px;
}
.grade__content-subtitle {
  font-family: 'Pragmatica';
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #7E779A;
  margin-bottom: 86px;
}
.grade__content-list {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 48px;
}
.grade__content-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;
}
.grade__content-item:last-child {
  margin-bottom: 0;
}
.grade__content-text--small {
  font-family: 'Pragmatica';
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #7E779A;
  margin-bottom: 10px;
}
.grade__content-text {
  font-weight: 700;
  font-size: 22px;
  line-height: 25px;
  color: #FFFFFF;
}
.grade__content-link {
  cursor: pointer;
}
.grade__link-list {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 47%;
  left: -48%;
  transform: rotate(-90deg);
}
.grade__link-item {
  position: relative;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-right: 28px;
}
.grade__link-item:hover {
  color: #7E779A;
}
.grade__link-item::after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  right: -14px;
  width: 3px;
  height: 3px;
  background-color: white;
  border-radius: 50%;
}
.grade__link-item:last-child::after {
  display: none;
}
.grade__form {
  width: 100%;
  max-width: 670px;
  color: white;
}
.form__item {
  display: flex;
  flex-direction: column;
}
.form__item:first-child {
  margin-bottom: 10px;
}
.form__item:nth-child(2) {
  margin-bottom: 28px;
}
.form__item:nth-child(3) {
  margin-bottom: 25px;
}
.form__item:nth-child(4) {
  margin-bottom: 31px;
}
.form__input {  
  position: relative;
  width: 100%;
  min-height: 52px;
  font-family: 'Pragmatica';
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  background: rgba(7, 11, 47, 0.07);
  border: 2px solid #473E69;
  padding: 0 22px;
  border-radius: 4px;
}
.form__input::placeholder {
  position: absolute;
  top: 15px;
  font-family: 'Pragmatica';
  font-weight: 300;
  font-size: 16px;
  color: #7E779A;
}
textarea.form__input {
  resize: vertical;
  min-height: 163px;
}
.form__item:nth-child(2) .form__label {
  font-family: 'Pragmatica';
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #807D8D;
  margin-bottom: 5px;
}
.options__item {  
  margin-bottom: 20px;
}
.options__item:last-child {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}
.options__item:last-child .form__label {
  font-family: 'Pragmatica';
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #7E779A;
  margin-right: 22px;
}
.options__item:last-child .form__label a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.options__input {
  display: none;
}
.options__input:checked + .options__label::after {
  transform: scale(1);
}
.options__label {
  position: relative;
  display: flex;
  font-family: 'Pragmatica';
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
}
.options__label::before {
  content: "";
  flex: 0 0 22px;
  align-self: flex-start;
  height: 22px;
  background: rgba(7, 11, 47, 0.07);
  border: 2px solid #473E69;
  border-radius: 4px;
  margin-right: 14px;
}
.options__label::after {
  transition: transform 0.3s ease 0s;
  position: absolute;
  content: "";
  top: 6px;
  left: 5px;
  width: 12px;
  height: 9px;
  background: url("./../img/done.svg") no-repeat center;
  transform: scale(0);
}
.form__button {
  position: relative;
  width: 100%;
  max-width: 225px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 90px;
  border: 0;
  background: linear-gradient(105.96deg, #3F0F72 13.07%, #791281 85.2%);  
  transition: all 0.3s ease 0s;  
}
.form__button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 90px;
  border: 3px solid transparent;
  background: linear-gradient(45deg, #3F0F72, #791281) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, 
  linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) padding-box, 
  linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}
.form__button:hover {
  background: transparent;
}
.form__button span {
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}