.itc-select {
  position: relative;
  width: 100%;

  &__toggle {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    user-select: none;
    border: none;
    padding: 10px 0;

    & span {
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: #272733;
    }

    &::after {
      position: absolute;
      right: 10px;
      top: 5px;
      flex-shrink: 0;
      width: 0.75rem;
      height: 0.75rem;
      margin-left: 1rem;
      background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" height="100" width="100"%3E%3Cpath d="M97.625 25.3l-4.813-4.89c-1.668-1.606-3.616-2.41-5.84-2.41-2.27 0-4.194.804-5.777 2.41L50 52.087 18.806 20.412C17.223 18.805 15.298 18 13.03 18c-2.225 0-4.172.804-5.84 2.41l-4.75 4.89C.813 26.95 0 28.927 0 31.23c0 2.346.814 4.301 2.439 5.865l41.784 42.428C45.764 81.174 47.689 82 50 82c2.268 0 4.215-.826 5.84-2.476l41.784-42.428c1.584-1.608 2.376-3.563 2.376-5.865 0-2.26-.792-4.236-2.375-5.932z"/%3E%3C/svg%3E');
      background-size: cover;
      content: "";
    }

    &:focus {
      outline: none;
    }
  }

  &_show {

    background: rgba(61, 64, 80, 0.85) !important;
    border-radius: 3px 3px 0px 0px !important;
    border: 1px solid #3D4050 !important;

    & span {
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: #FFFFFF;
    }

    &  .itc-select__toggle::after {
      transform: rotate(180deg);
      background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" height="100" width="100"%3E%3Cpath fill="white" d="M97.625 25.3l-4.813-4.89c-1.668-1.606-3.616-2.41-5.84-2.41-2.27 0-4.194.804-5.777 2.41L50 52.087 18.806 20.412C17.223 18.805 15.298 18 13.03 18c-2.225 0-4.172.804-5.84 2.41l-4.75 4.89C.813 26.95 0 28.927 0 31.23c0 2.346.814 4.301 2.439 5.865l41.784 42.428C45.764 81.174 47.689 82 50 82c2.268 0 4.215-.826 5.84-2.476l41.784-42.428c1.584-1.608 2.376-3.563 2.376-5.865 0-2.26-.792-4.236-2.375-5.932z"/%3E%3C/svg%3E');
      background-size: cover;
    }
    & .itc-select__dropdown {
      display: block;
    }
    & .itc-select__backdrop {
      display: block;
    }

  }

  &__dropdown {
    position: absolute;
    top: 47px;
    right: 0;
    left: 0;
    z-index: 2;
    display: none;
    max-height: 180px;
    overflow-y: auto;
    background: rgba(39, 39, 51);
    border: 1px solid #3D4050;
    border-radius: 3px;
    padding-top: 3px;
    scrollbar-color: $accent-color #3D4050 /* «цвет ползунка» «цвет полосы скроллбара» для Firefox */
  }

  &__options {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__option {
    padding: 0 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;

    &:hover {
      background-color: #f5f5f5;
      cursor: pointer;
      transition: 0.2s background-color ease-in-out;
    }
  }

  &__option_selected {
    color: $accent-color;
  }
}



/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  width: 8px; /* ширина для вертикального скролла */
  height: 8px; /* высота для горизонтального скролла */
  background-color: #3D4050;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: $accent-color;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #253861;
}





input[type=range]  {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  border-radius: 6px/100%;
  height: 6px;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #FFFFFF;
}
input[type=range]::-webkit-slider-thumb {
  background: #07C8C8;
  border: 3px solid #14317B; 
  border-radius: 50%;
  cursor: pointer;
  width: 24px;
  height: 24px;
  -webkit-appearance: none;
  margin-top: -8px;
}

input[type=range]::-moz-range-track {
  border-radius: 6px/100%;
  height: 6px;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #FFFFFF;
}
input[type=range]::-moz-range-thumb {
  background: #07C8C8;
  border: 3px solid #14317B; 
  border-radius: 50%;
  cursor: pointer;
}



// custom input file

.input__wrapper {
  width: 100%;
  position: relative;
  margin: 15px 0;
  text-align: center;
}
 
.input__file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
}
 
.input__file-icon-wrapper {
  height: 20px;
  width: 18px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
 
.input__file-button-text {
  line-height: 1;
  margin-top: 1px;
}
 
.input__file-button {
  width: 100%;
  height: 100%;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: $main-color--bg;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}