@import "./fonts";
@import "./reset";
@import "./global";

.main-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 31px;

  &__close-img {
    display: block;
    object-fit: contain;
    width: 100%;
    max-width: 24px;
  }

  &__link {
    display: inline-block;
    font-size: 13px;
    line-height: 41px;
    display: flex;
    align-items: center;
    letter-spacing: -0.216667px;
    color: rgba(255, 255, 255, 0.6);
  }
}
